<section id="projects">
<div class="container">
  <h3>Scholastic Achievements</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<b>DLF Scholarship</b> <br>
Awarded with scholarship of Rs 40,000 for the year 2014-15.
		</h5>

		</br>
		<h5>
			<b>PM Scholarship</b> <br>
Awarded with scholarship of Rs 24,000 for the year 2014-15.
		</h5>

		</br>
		<h5>
			<b>DLF Scholarship</b> <br>
Awarded with scholarship of Rs 40,000 for the year 2015-16.
		</h5>

		</br>
<h5>
			<b>PM Scholarship</b> <br>
Awarded with scholarship of Rs 24,000 for the year 2015-16.
		</h5>

		</br>
		<h5>
			<b>PM Scholarship</b> <br>
Awarded with scholarship of Rs 24,000 for the year 2016-17.
		</h5>

		</br>
		
    </div>
  </div>
</div>
</section>
