<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/msdeep14/MiniDataBase">MiniDataBase</a></strong> <br/>
			Data Storage and Retrieval using B+ Tree Indexing.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/msdeep14/IRCTC">IRCTC</a></strong> <br/>
            IRCTC like Ticket Booking System developed in C++ using QT framework.
		</h5>
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/msdeep14/Tripcount">Tripcount</a></strong> <br/>
            An android app for managing group-trips and day to day expenses.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/msdeep14/Complexity-Dictionary">Complexity Dictionary</a></strong> <br/>
            Java based dictionary implementation for comparing running time of Tries, AVL Tree, RedBlack Tree and HashMaps.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/msdeep14/play_2048">2048</a></strong> <br/>
             Popular game 2048 developed in C++ for applying basic OOP concepts.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/msdeep14/hackerranksolutions">HackerRank Solutions</a></strong> <br/>
This repo contains HackerRank algorithmic solutions. 
		</h5>
    </div>
  </div>
</div>
</section>
